<form action="/dishes" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="">name</label>
  <input type="text" name="name">

  <label for="">image url</label>
  <textarea name="image_url"></textarea>

  <button>create</button>

</form>
