body {
  /*width: 80%;
  margin: 0 auto;*/
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.span-1, .span-2, .span-3 {
  float: left;
  min-height: 100px;
  width: 100%;
}

.span-1 {
  background-color: mistyrose;
}

.span-2 {
  background-color: linen;
}

.span-3 {
  background-color: plum;
}

/************************************************************/

@media (max-width: 700px) {
  body {
    width: 80%;
    margin: 0 auto;
  }

  .span-1, .span-2, .span-3 {
    width: 96.66666666%;
    margin-right: 3.33333333%;
  }

  .span-1 {
    width: 30%;
  }

  li {
    list-style: none;
    float: left;
    margin: 0 20px;
  }
}
