<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
    <h1>Home Page</h1>
    <form action='/about'>
      <label for="">Movie Name</label>
      <input type="text" name="movie" value="">
      <button>Find</button>
    </form>
  </body>
</html>
