<h2>Edit Dish</h2>

<form action="/dishes/<%= @dish['id']%>" method="post">

  <input type="hidden" name="_method" value="patch">

  <label for="">Name</label>
  <input type="text" name="name" value="<%= @dish['name'] %>">

  <label for="">Image URL</label>
  <input type="text" name="image_url" value="<%= @dish['image_url'] %>">

  <button>Update</button>
</form>
