body {
  background: -webkit-linear-gradient(315deg, red, blue);
  background: -o-linear-gradient(315deg, red, blue);
  background: linear-gradient(135deg, red, blue); }

.title {
  color: green;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .title span {
    color: orange; }
